includes:
    - ./vendor/nunomaduro/larastan/extension.neon
    - phpstan-baseline.php

parameters:

    paths:
        - app/
        - bootstrap/
        - config/
        - database/
        - routes/

    # Level 9 is the highest level
    level: 5

#    ignoreErrors:
#        - '#PHPDoc tag @mixin contains unknown class App\\Models\\IdeHelper[\w]+#'
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#
#    checkMissingIterableValueType: false
